body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
 @import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
.snip1476 {
	font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.snip1476 * {
	box-sizing: border-box;
}
.snip1476 li {
	display: inline-block;
	list-style: outside none none;
	margin-top: 0.5em;
	margin-right: 0.9px;
	margin-left: 0.7px;
	margin-bottom: 0.5em;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
}
.snip1476 li:before, .snip1476 li:after {
	display: block;
}
.snip1476 li:before {
	left: 0%;
}
.snip1476 li:after {
	left: 50%;
}
.snip1476 a {
	backface-visibility: hidden;
	color: #000000;
	display: block;
	padding: 0.5em 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
}
.snip1476 a:hover {
	color: #000000;
}
.snip1476 a:before {
	left: 25%;
}
.snip1476 a:after {
	left: 75%;
}
.snip1476 li:before, .snip1476 li:after, .snip1476 a:before, .snip1476 a:after {
	background-color: #D4AF37;
	position: absolute;
	width: 26%;
	top: 50%;
	bottom: 50%;
	content: '';
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.snip1476 li:before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.snip1476 li:after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.snip1476 a:before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.snip1476 a:after {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.snip1476 li:hover:before, .snip1476 li.current:before, .snip1476 li:hover:after, .snip1476 li.current:after, .snip1476 li:hover a:before, .snip1476 li.current a:before, .snip1476 li:hover a:after, .snip1476 li.current a:after {
	opacity: 1;
	top: 0;
	bottom: 0;
}
.snip1476 li:hover:before, .snip1476 li.current:before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.snip1476 li:hover:after, .snip1476 li.current:after {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.snip1476 li:hover a:before, .snip1476 li.current a:before {
	-webkit-transition-delay: 0.075s;
	transition-delay: 0.075s;
}
.snip1476 li:hover a:after, .snip1476 li.current a:after {
	-webkit-transition-delay: 0.225s;
	transition-delay: 0.225s;
}
#footer {
	padding: 1%;
	margin: 1%;
	color: #000000;
	font-family: 'Raleway', Arial, sans-serif;
	line-height: 4;
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
}
.flex-container {
	display: flex;
	flex-wrap: row;
	background-color: #D4AF37;
	font-size: 14px;
}
.flex-container div {
	background-color: #FFFFFF;
	font-family: 'Raleway', Arial, sans-serif;
	width: 100%;
	border-radius: 1px;
	margin: 2%;
	padding: 0%;
}
h1 {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 0;
}
p {
	margin-before: 0.2em;
	margin-after: 0.2em;
	font-size: 17px;
}
.flex-container div {
	font-size: 14px;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 2%;
}
a.two:link {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 0%;
	text-align: center;
}
a.two:hover {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	font-size: 32px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 0;
	text-align: center;
}
a.two:visited {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 0;
	text-align: center;
}
input[type=text], select, textarea {
	width: 90%;
	hight: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: content-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.container {
	border-radius: 5px;
	background-color: #D4AF37;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
.container {
	margin: auto;
	width: 60%;
	border: 3px solid #D4AF37;
	padding: 10px;
}
h3 {
	text-align: center;
	font-family: 'Raleway', Arial, sans-serif;
}

.center
{
	text-align: center;
}